.bars .icon-bar {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    position: relative;
    transition: all .3s ease-in-out;
    width: 22px;
}

.bars .icon-bar:nth-of-type(2), 
.bars .icon-bar:nth-of-type(3) {
    top: 0;
}

.bars .icon-bar+.icon-bar {
    margin-top: 4px;
}

.mobile-links {
    background-color: #fff;
    margin: 0;
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    transition: all .3s ease;
}

.mobile-links.toggled {
    max-height: 300px;
    padding: 40px;
}

.mobile-links a {
    display: block;
}

.mobile-links li {
    list-style: none;
}

.nav-lg {
    display: none;
}

@media (min-width: 768px) {
    .bars {
        display: none;
    }

    .nav-sm {
        display: none;
    }

    .nav-lg {
        display: block;
    }
}